@model FileManipulation.Models.ManupClass
@{
    ViewData["Title"] = "Home Page";
}
<center>
    <h1>Домашняя работа</h1>
    <br />
    <form asp-controller="File" asp-action="Index" method="post" enctype="multipart/form-data">
        <input type="file" name="fileman" />
        <input type="submit" value="Загрузить" />
        <br /><br /><br />
        <h4>@TempData["Message"]</h4>

        <table class="table">
            <tr>
                <th>Название файла</th>
                <th>Файл</th>
                <th>Действие</th>
                <th>Действие</th>
            </tr>
            @foreach (var item in Model.FileManup)
            {
        <tr>
            <td>@item.Name</td>
            <td><img src="~/File/@item.Name" height="80" width="120" /></td>
            <td><a href="@Url.Action("Delete", "File", new { imgdel=@item.Name})">Удалить</a></td>
            <td><a href="@Url.Action("Download", "File" , new { imgdel=@item.Name})">Скачать</a></td>
        </tr>
            }
        </table>
    </form>
</center>
